.authentication {
}

.alert {
    padding: .40rem 1.25rem!important;
}

.approve_section table {
    border-collapse:separate!important; 
    border-spacing: 0 1em;
}

.approve_section form {
    margin-top: 15px;
}

.approve_section tr {
    margin-bottom: 5px;
}

.approve_section tr:last-child {
    margin-bottom: 15px;
}

p.image_approve {
    width: 120px;
}

.img_res {
    width: 100%;
    height: auto;
}